<section >
    <h3 class="font-weight-light text-info">Create New Post</h3>
    <form id="create-new-post" class="new-post-form font-weight-lighter">
        <div class="row">
            <div class="col-1">
                <label for="post-title">Title</label>
            </div>
            <div class="col-11">
                <input type="text" id="post-title" name="post-title"/>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="post-content">Content</label>
            </div>
            <div class="col-11">
                <textarea id="post-content" class="new-post-content" name="post-content"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-dark" id="new-post-btn">Create</button>
    </form>
</section>


{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit/Delete Post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>