
<h2 class="text-center text-info font-weight-light">Blogs</h2>
<p class="font-weight-lighter text-center"><a href="/login" class="text-info">Login</a> or <a href="/signup" class="text-info">signup</a> to start posting blogs. Once you're signed in, go to your <a href="/dashboard" class="text-info">dashboard</a> to create a post.</p>
<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <article class="post">
        <div class="title font-weight-light">
            {{post.title}}
        </div>
        <div class="meta font-weight-lighter font-italic">
            {{post.content}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
        </div>
        </article>
    </li>
    {{/each}}
</ol>
