<div>
    <form id="login-form">
        <h5>Login</h5>
        <div>
            {{> form}}
            <button type="submit">Login</button>
        </div>
        <div>
            <a href="/signup">Sign up instead</a>
        </div>
    </form>
</div>
<script src="/javascript/login.js"></script>