<div>
    <form class="signup-form">
        <h3 class="font-weight-light text-info">Sign Up</h3>
        <div class="font-weight-lighter">
            <div>
                <label for="username-signup">username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="btn btn-dark">Sign Up</button>
                <br>
            </div>
        </div>
        <div>
            <a href="/login" class="text-info">Log in instead</a>
        </div>
    </form>
</div>
<script src="/javascript/signup.js"></script>